/* configurações */

a, h1 {
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.challenges {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

h1 {
    display: grid;
    place-items: center;
}

/* desafio - 2 */

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

tr,
th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

/* Resolução */

thead tr:nth-child(1) {
    background-color: violet;
}

thead tr:nth-child(2) th:nth-child(1),
thead tr:nth-child(2) th:nth-child(2),
tbody tr:nth-child(2) :first-child {
    background-color: red;
}

thead tr:nth-child(2) th:nth-child(3),
tbody tr:nth-child(1) td:nth-child(3) {
    background-color: orangered;
}

tbody tr:nth-child(1) :first-child {
    background-color: greenyellow;
}

tbody tr:nth-child(1) td:nth-child(2),
tbody tr:nth-child(2) td:nth-child(2) {
    background-color: gray;
}

tbody tr:nth-child(2) :last-child {
    background-color: blue;
}