/* configurações */

a,
h1 {
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.challenges {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

h1 {
    display: grid;
    place-items: center;
}

/* Desafio 4 */

.box-border {
    height: 204px;
    width: 204px;
    border: 2px dotted #000;
    margin: auto;
    position: relative;
}

.box1 {
    height: 100px;
    width: 100px;
    background: lightblue;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

.box2 {
    height: 100px;
    width: 100px;
    background: lightcoral;
    border: 1px solid black;
    top: 0;
    right: 0;
    position: absolute;
}

.box3 {
    height: 100px;
    width: 100px;
    background: lightcyan;
    border: 1px solid black;
    left: 0;
    bottom: 0;
    position: absolute;
}

.box4 {
    height: 100px;
    width: 100px;
    background: lightgoldenrodyellow;
    border: 1px solid black;
    right: 0;
    bottom: 0;
    position: absolute;
}