@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.use_form {
    width: 45%;
    display: grid;  
    place-items: start;
    gap: 1rem;
}

.container h1, .users_container h2{
    font-size: 2.7rem;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.user_data_container {
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    width: 100%;
}

.flex {
    font-size: 2.7rem;
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    height: 11vh;
}

label {
    margin-bottom: .7rem;
}

.user_data_container input, .user_data_container input[type="date"] {
    border: .1rem solid rgb(188, 187, 187);
    border-radius: .5rem;
    height: 3.5rem;
    outline: none;
    padding: 1rem;
    width: 100%;
}

.bigger {
    width: 70%;
    display: flex;
}

.error_message {
    font-size: 1.2rem;
    color: #ff0000;
}

.submit_btn {
    border-radius: .7rem;
    padding: .5rem;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    background-color: #0D6EFD;
    cursor: pointer;
    margin-top: 1rem;
}

.users_container {
    /* width: 100%; */
    min-height: 100vh;
    padding: 2rem;
}

.users_container h2:nth-child(1) {
    margin-bottom: 1.5rem;
}

.card_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.card{
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    background-color: #eee;
    width: 25%;
    padding: 1.5rem;
    border-radius: .7rem;
}

.card_line {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    font-weight: 600;
}

.card_line span {
    display: flex;
    align-items: center;
    gap: 1.5rem
}

.card_line span span {
    font-size: 1.2rem;
    font-weight: 400;
}

.btn-container button {
    padding: .3rem 2rem;
    cursor: pointer;
    border-radius: .4rem;
    border: none;
    color: #fff;
}

.btn-container button:nth-child(1) {
    background-color: #0D6EFD;
}
.btn-container button:nth-child(2) {
    background-color: #ff0000;
}

.hidden {
    display: none;
}