* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../image/night-sky-1920x1080-v0-6xpstvrevte81.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.my-day {
  font-size: 2rem;
  font-weight: 600;
}

.add-task-btn {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: end;
}

.task-bg,
.task-component {
  background-color: rgba(255, 255, 255, 0.708);
  color: rgb(118, 117, 117);
}

.task-component {
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.5rem 0;
}

.custom-check-box {
  display: flex;
  justify-content: flex-start;
}

.custom-check-box {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-left: .5rem;
  border: .1rem solid #212529;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background: #ffeded38;
  transition: all 0.2s ease;
}

.checkmark {
  opacity: 0.4;
}

.custom-check-box input:checked ~ .checkmark {
  background: #212529;
  opacity: 0.9;
  transition: all 0.2s ease;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-check-box input:checked ~ .checkmark:after {
  display: block;
}

.custom-check-box .checkmark:after {
  left: 0.61em;
  top: 0.43em;
  width: 0.25em;
  height: 0.5em;
  border: solid rgb(255, 255, 255);
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.task-content {
  text-align: left;
  margin-left: .5rem;
}

.task-title {
  font-size: 1.1rem;
  font-weight: 700;
}

.task-details {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: .2rem;
}

.dot {
  color: #000;
  font-size: 0.9rem;
  margin-inline: .1rem;
}

.btn-content button {
  border: 1px solid #212529;
  padding-inline: .2rem;
  text-align: center;
  cursor: pointer;
  border-radius: .2rem;
}

.edit-btn, .save-btn {
  background-color: #212529;
  color: #fff;
  margin-right: .3rem;
}

.delete-btn, .cancel-btn{
  color: #212529;
  background: none;
}

.save-btn, .cancel-btn {
  border: 1px solid #212529;
  padding: .2rem .6rem;
  border-radius: .2rem;
}

.error {
  font-size: .8rem;
  color: #f00;
  letter-spacing: 0.03rem;
  margin-left: .2rem;
}